<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-color: #E0F4FF;
        }
       .parent-container{
        display: flex;
        justify-content: center;
        height: 90vh;
       }
        .container{
            display: flex;
            flex-direction: column;
            background-color: white;
            align-items: center;
            padding: 5rem;
            margin: auto;
            border-radius: 5%;
        }
        a{
            padding: 0.6rem 4rem;
            margin:1rem 0;
            color: white;
            background-color: #713ABE;
            border-radius: 17px 17px;
            text-decoration: none;
        }
        a:hover{
            background-color: black;
        }
    </style>

</head>
<body>
    <div class="parent-container">
        <div class="container">
            <a href="/register">Register</a>
            <a href="/register-admin">Register as admin</a>
            <a href="/register-teacher">Register as a teacher</a>
            <a href="/login">Login</a>

        </div>
    </div>
</body>
</html>